/* html {
    width: 100%;
    } */
body {
    background-color: black;
    /* width: 100%; */
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
    color: white;
}
p {
    color: #7A7A7A;
    
    font-size: 16.5px;
}
.nav-wrapper.blue-grey.darken-4 {
    width: 100%;
}
.evens {
    /* background-color: black; */
    /* background-color: #2b2b2b; */
    margin: 0px;
    padding: 0px;
}
.segmentHeading {
    margin-top: 0px;
    margin-bottom: 0px;
}
#projects {
    /* background-color: #2b2b2b; */
    background-color: #191919;
}
.row {
    color: white;
}
#Contact{
    /* background-color: #2b2b2b; */
    background-color: #191919;
}
.left-align {
    margin: 0;
    padding: 0;
    /* float: right; */
    /* width: 100%; */
    /* clear: both; */
}
/* .otherLevels {
    float: left;
    clear: both;
} */
.space {
    margin: 0;
    padding: 0;
    /* clear: both; */
}

/* about me style section */
.tab {
    float: left;
    width: 20%;
    height: 300px;
}

  /* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    width: 100%;
}

  /* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
    width: 100%;
}

  /* Style the tab content */
.tabz {
    float: left;
    padding: 0px 12px;
    width: 30%;
    border-left: none;
    height: auto;
    margin: 0 50px 0 50px;
    
}

#coverpic {
    height:300px;
    width: 300px;
    border-radius: 50%;   
}
#resumeIcon {
    width: 140px;
    height: 200px;
    margin-top: 40px;
    text-align: center;
}
#about {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.statements {
    margin-top: 50px;
}
.tabz img {
    text-align: center;
}
.tabz a {
    text-align: center;
}

.profilepic {
    padding-left: 20px;
    padding-right: 20px;
}
.projectsWrapper {
    /* padding-right: 50px !important; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.proj {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    
}
.outer {
    display: block;
    width: 400px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}
.inner {
    width: 1600px;
    height: 200px;
    cursor: pointer;
    display: block;
    background: url(resources/flash/flash0.png) 0 0, 
    /* url(resources/flash/flash1.png) 400px 0,  */
    url(resources/flash/flash2.png) 400px 0, 
    url(resources/flash/flash3.png) 800px 0;
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.inner2 {
    width: 1600px;
    height: 200px;
    cursor: pointer;
    display: block;
    background: url(resources/garage/garage0.png) 0 0, 
    url(resources/garage/garage1.png) 400px 0, 
    url(resources/garage/garage2.png) 800px 0;
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.inner3 {
    width: 1600px;
    height: 200px;
    cursor: pointer;
    display: block;
    background: url(resources/animania/animania1.png) 0 0, 
    url(resources/animania/animania2.png) 400px 0, 
    url(resources/flash/flash3.png) 800px 0;
    background-repeat: no-repeat;
    background-size: 400px 200px;
}
.outer:hover .inner, .outer:focus .inner, 
.outer:hover .inner2, .outer:focus .inner2, 
.outer:hover .inner3, .outer:focus .inner3 {
    animation: swap 18s linear infinite;
}

.outer:focus {
    border: 2px solid red;
}

@keyframes swap {
    0% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(-800px,0, 0)
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}

#bio{
    width: 500px;
}
.descriptions {
    width: 500px;
    text-align: left !important;
    margin: 10px;
}
span {
    text-decoration: underline;
}

.icons{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/* styling section for the logos (web version) */
.container {
    /* text-align: center; */
}
.col {
    padding: 5px;
    justify-items: center;
    align-items: center;
}

.logos {
    width: 105px;
    height: 100px;
    padding: 5px;
    margin: 5px;
}

/* email styling section */
#myform {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
input {
    color: white;
}
input::placeholder {
    opacity: .3;
    font-family: 'Montserrat', sans-serif;
}
textarea{
    color: white;
}
textarea::placeholder {
    opacity: .3;
    font-family: 'Montserrat', sans-serif;
}

/* phone styling section */

@media (max-device-width: 480px) {
    html {
        text-align: center;
        padding: 0;
    }
    h1 {
        font-size: 40px;
        max-width: 100%;
        
    }
    h3 {
        font-size: 30px;
        max-width: 100%;
        padding: 10px;
    }
    /* .navbar {
        width: 100%;
    } */
    .evens {
        min-height: 100vh;
    }
    .tab {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tab button {
        padding: 0;
        
    }
    .tabz{
        width: 100%;
    }
    .tablinks {
        width: 33%;
        padding: 0;
    }
    .tablinks h5 {
        font-size: 18px;
        padding: 0;
        margin: 20px auto;
        text-align: center;
    }
    #coverpic {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 575px;
        left: 10%;
        

    }
    /* #projects {
        width: 100%;
    } */
    /* 
    .projectsWrapper {
        padding:10px;
    } */
    .proj {
        display: block;
    }
    .proj p {
        width: 90%;
    }
    
    .descriptions {
        width: 100vw;
        margin: 0 auto;
    }

/* Styling section for the logos (phone version) */
    .logos {
        /* height: 100px; */
        max-width: 100px;
    }


    .outer {
        width: 95vw;
    }
    #myform {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}